.modal {
    position: fixed;
    top: 20vh;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 40rem;
    background: white;
    padding: 1rem;
    border-radius: 8px;
    z-index: 100; /* Ensures modal is on top of the backdrop */
  }
  
  .modal-enter {
    opacity: 0;
    transform: translateY(-10rem);
  }
  
  .modal-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 200ms, transform 200ms;
  }
  
  .modal-exit {
    opacity: 1;
  }
  
  .modal-exit-active {
    opacity: 0;
    transform: translateY(-10rem);
    transition: opacity 200ms, transform 200ms;
  }
  