.post-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 0;
    padding: 0;
    list-style: none;
}

.user-list.center {
    text-align: center;
    margin-top: 2rem;
}

